@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

        <div style="margin: 0;" class="navbar-text navbar-right">
            @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "welcome"})
            <a class="btn btn-default navbar-btn" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        </div>
    }
}
else
{
    <div style="margin: 0;" class="navbar-text navbar-right">
        @Html.ActionLink("Rejestracja", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "btn btn-default navbar-btn" })
        @Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "btn btn-default navbar-btn" })
    </div>
}
