
.navbar-custom {
    background-color: #229922;
    border-radius: 0;
}
.navbar-right {
    float: right;
    margin-right: 15px;
    margin-left: 15px;
}

.left-menu {
    margin-left: 10px;
}

/*Sortowanie*/
.sorting {
    position:relative;
    display: block;
    left: 0;
    width: 100%;
    top: 0;
    transition: .4s  ease;
}

.off {
    top: -1000px;
    max-height: 0;
}

.sorting-button {
    margin: 5px 0 5px 0;
}

.sorting-helper {
    position: relative;
    overflow: hidden;
}


/*Kategorie*/
.categories {
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    transition: .4s ease;
}

.cat-off {
    top: -1000px;
    max-height: 0;
}

.categories-button {
    margin: 5px 0 5px 0;
}


.categories-helper {
    position: relative;
    overflow: hidden;

}




