@model OnlineShop.WebUI.Models.MenuViewModel

@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}

<div class="left-menu">

     @*<div class="@wrapperClasses">*@

         @*@Html.ActionLink("Home", "List", "Product", null, new { @class = horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg" })*@




         @if (horizontal == false)
         {
             <div class="categories-button btn btn-block btn-default btn-lg">Kategorie</div>
             <div class="categories-helper">
                 <div class="categories cat-off">

                     @foreach (var link in Model.Categories)
                     {
                         @Html.RouteLink(link, new { controller = "Product", action = "List", category = link, page = 1},
                         new {@class = (horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg" ) + (link == ViewBag.SelectedCategory ? " btn-primary" : "") })
                     }
                     </div>
                 </div>
            }
                 @*</div>*@




                 @if (horizontal == false)
                 {
                     <div class="sorting-button btn btn-block btn-default btn-lg">Sortowanie</div>
                     <div class="sorting-helper">
                         <div class="sorting off">
                             @foreach (var link in Model.SortingOptions)
                             {
                                 if (link == OnlineShop.WebUI.Models.SortingType.NoSorting)
                                 {
                                     continue;
                                 }
                                 if (ViewBag.SelectedCategory == null)
                                 {
                                     @Html.ActionLink($"{link}","List", "Product", new { sortingType = link, page = 1 },
                                         new { @class = (horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg") + (link == ViewBag.SelectedSorting ? " btn-primary" : "")
                                         })
                                 }
                                 else
                                 {
                                     @Html.ActionLink($"{link}","List", "Product", new { category = ViewBag.SelectedCategory, sortingType = link, page = 1 },
                                         new { @class = (horizontal ? "btn btn-default btn-sm" : "btn btn-block btn-default btn-lg") + (link == ViewBag.SelectedSorting ? " btn-primary" : "")
                                         })
                                 }

                             }
                         </div>
                     </div>
                 }
             </div>





