@model IEnumerable<OnlineShop.Domain.Entities.Category>
@{
    ViewBag.Title = "Admin: Kategorie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container panel panel-default">
    <div class="">
        <h3>Kategorie</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">Id</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.CategoryId</td>
                    <td>@Html.ActionLink(item.CategoryName, "EditCategory", new { item.CategoryId })</td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteCategory", "Admin"))
                        {
                            @Html.Hidden("CategoryId", item.CategoryId)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Usuń" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div style="margin-bottom: 10px;">
        @Html.ActionLink("Dodaj nową kategorię", "CreateCategory", null,
        new { @class = "btn btn-default" })
    </div>
</div>