
@{
    ViewBag.Title = "Sklep online - zamówienie zostało przesłane";
}


<h4>
    Dziękujemy za zrobienie zakupów w naszym sklepie. Po realizacji zamówienia, towar zostanie wysłany.
    <br/>
    Zapraszamy ponownie!
</h4>

