@model OnlineShop.WebUI.Models.ProductsListViewModel

@{ 
    ViewBag.Title = "Produkty";
}


@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p);
}

<div style="clear: both; margin-top: 10px;" class="btn-group pull-left">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
        new { page = x, category = Model.CurrentCategory, sortingOption = Model.CurrentSorting }))
</div>



